<%- include('partials/header') %>
<div class="containerMain">
  <h1 class="fontMain">Welcome to Mix It Up!</h1>
  <h2 class="fontMain2">
    An app that allows you to store your favorite cocktails, as well as find new
    favorites!
  </h2>
  <h2 class="fontMain2"> cheers! 🍻</h2>
</div>
<%- include('partials/footer') %>
