<%- include('../partials/header') %>
<div class="containerIndex">
  <table>
    <thead>
      <tr>
        <th class="cFont1">Cocktail List:</th>
      </tr>
    </thead>
    <tbody>
      <% cocktails.forEach(function(c) { %>
      <tr>
        <td class="cFont"><a class="cFont" href="/cocktails/<%= c._id %>"><%= c.name %></a></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<%- include('../partials/footer') %>
