body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: gray;
  margin: 0;
  text-align: center;
}
nav {
  background-color: cornflowerblue;
}
a {
  color: whitesmoke;
}
.black{
  color: black;
}
table {
  margin-left: 10%;
}

.wide{
  margin-left: 700px;
  margin-right: 700px;
}

.containerIndex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cFont {
  font-size: 2rem;
  font-family: 'Parisienne', cursive;
  color: blue;
  text-decoration: none;
}

.cFont1 {
  font-size: 2.5rem;
  text-decoration: underline;
  font-family: 'Monoton', cursive;
}

.containerU {
  display: flex;
  align-items: center;
  justify-content: center;
}

.space {
  margin-top: 20px;
}

.color {
  background-color: cornflowerblue;
  border: none;
}

.color1 {
  background-color: grey;
  border: none;
}

.font2 {
  font-family: 'Trade Winds', cursive;
}

.containerMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.repliesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fontMain {
  font-family: 'Monoton', cursive;
  font-size: 5rem;
}

.fontMain2 {
  font-family: 'Major Mono Display', monospace;
  font-size: 1.5rem;
}

.font3 {
  font-family: 'Dhurjati', sans-serif;
  font-size: 2rem;
  color: aliceblue;
}

.font4 {
  font-family: 'Dhurjati', sans-serif;
  font-size: 2.5rem;
}

.width {
  width: 50%;
}

.containerMessage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.messages {
  width: 50%;
  margin: 20px;
  background-color: cornsilk;
}

.messagesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.margin {
  margin: 5px;
}

.buttonLayout {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

.rcFont {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.5rem;
}

.background {
  background-color: grey;
  border: none;
}