body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: gray;
  margin: 0;
  text-align: center;
}
nav {
  background-color: cornflowerblue;
}
a {
  color: whitesmoke;
}
.black{
  color: black;
}
table {
  margin-left: 10%;
}

.wide{
  margin-left: 700px;
  margin-right: 700px;
}
